# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Logs
*.log

# Temp files
*.tmp
*.temp
.DS_Store
Tool.System/hammerspoon/clipboard_history.json
Tool.System/hammerspoon/iMac_sleep_troubleshooting/
Tool.System/hammerspoon/clipboard_history.json
Tool.System/hammerspoon/iMac_sleep_troubleshooting/
