@font-face {
  font-family: "iconfont"; /* Project id 4623769 */
  src: url('//at.alicdn.com/t/c/font_4623769_6k7rj10za5f.woff2?t=1770280889611') format('woff2'),
       url('//at.alicdn.com/t/c/font_4623769_6k7rj10za5f.woff?t=1770280889611') format('woff'),
       url('//at.alicdn.com/t/c/font_4623769_6k7rj10za5f.ttf?t=1770280889611') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity-bigmodel:before {
  content: "\e80d";
}

.icon-agent-bigmodel:before {
  content: "\e80e";
}

.icon-model-bigmodel:before {
  content: "\e80f";
}

.icon-send2:before {
  content: "\e808";
}

.icon-arrow-down:before {
  content: "\e806";
}

.icon-arrow-up:before {
  content: "\e807";
}

.icon-a-Folder-uploadwenjianjia-shangchuan:before {
  content: "\e805";
}

.icon-Workbench:before {
  content: "\e804";
}

.icon-a-Check-smallxiaoyan-xiao:before {
  content: "\e904";
}

.icon-Agent1:before {
  content: "\e803";
}

.icon-plan-model:before {
  content: "\e900";
}

.icon-plan-capacity:before {
  content: "\e901";
}

.icon-plan-adapt:before {
  content: "\e902";
}

.icon-plan-membership:before {
  content: "\e903";
}

.icon-wenjuan:before {
  content: "\e802";
}

.icon-a-Toolgongju:before {
  content: "\e801";
}

.icon-yongliangtongji:before {
  content: "\e800";
}

.icon-gift:before {
  content: "\e7ff";
}

.icon-fufei:before {
  content: "\e7fe";
}

.icon-a-dingyueguanli11:before {
  content: "\e7fd";
}

.icon-components-delete:before {
  content: "\e65f";
}

.icon-money-bag-outline:before {
  content: "\e7fb";
}

.icon-person-outline:before {
  content: "\e7fc";
}

.icon-rili:before {
  content: "\e7fa";
}

.icon-SVG:before {
  content: "\e7f9";
}

.icon-qutiyan-011:before {
  content: "\e7f4";
}

.icon-biangengshili-011:before {
  content: "\e7f3";
}

.icon-zhongmingming-01:before {
  content: "\e7f1";
}

.icon-chakanxiangqing-01:before {
  content: "\e7f8";
}

.icon-quxiaobushu-01:before {
  content: "\e7f7";
}

.icon-shanchu-01:before {
  content: "\e7f6";
}

.icon-a-Backshangyibu:before {
  content: "\e7f0";
}

.icon-a-Picture-onetupian:before {
  content: "\e7ef";
}

.icon-K-jiqiguanli-01:before {
  content: "\e7ee";
}

.icon-Click-01:before {
  content: "\e7ed";
}

.icon-G-qushuiyin-01:before {
  content: "\e7ec";
}

.icon-a-Swipeshuaka:before {
  content: "\e7eb";
}

.icon-daochu-qushuiyin-weishenqing-01:before {
  content: "\e7e9";
}

.icon-daochuqushuiyin-yishenqing-01:before {
  content: "\e7ea";
}

.icon-error-circle-filled:before {
  content: "\e7e7";
}

.icon-info-circle-filled:before {
  content: "\e7e8";
}

.icon-pause-circle:before {
  content: "\e7e6";
}

.icon-close:before {
  content: "\e7e5";
}

.icon-upload2:before {
  content: "\e7dc";
}

.icon-star1:before {
  content: "\e7db";
}

.icon-soundlist:before {
  content: "\e7de";
}

.icon-play1:before {
  content: "\e7dd";
}

.icon-pause:before {
  content: "\e7e1";
}

.icon-music:before {
  content: "\e7e0";
}

.icon-arrow-right-double:before {
  content: "\e7df";
}

.icon-play-circle:before {
  content: "\e7e2";
}

.icon-checkbox-nocheck:before {
  content: "\e7e3";
}

.icon-checkbox-checked:before {
  content: "\e7e4";
}

.icon-Python-01:before {
  content: "\e7da";
}

.icon-a-nodejs-01:before {
  content: "\e7d9";
}

.icon-Java-01:before {
  content: "\e7d8";
}

.icon-csharp-01:before {
  content: "\e7d7";
}

.icon-gailan-01:before {
  content: "\e7be";
}

.icon-moxingguangchang-01:before {
  content: "\e7bf";
}

.icon-siyoushili-01:before {
  content: "\e7c1";
}

.icon-weitiaorenwu-01:before {
  content: "\e7c0";
}

.icon-weitiaoshuju-01:before {
  content: "\e7c2";
}

.icon-pingceshuju-01:before {
  content: "\e7c3";
}

.icon-Batchshuju-01:before {
  content: "\e7c6";
}

.icon-moxingpingce-01:before {
  content: "\e7c5";
}

.icon-Batchrenwu-01:before {
  content: "\e7c4";
}

.icon-zhinengtiguangchang-01:before {
  content: "\e7ca";
}

.icon-wodezhinengti-01:before {
  content: "\e7c9";
}

.icon-chajianzhongxin-01:before {
  content: "\e7c8";
}

.icon-zhishiwenda-01:before {
  content: "\e7c7";
}

.icon-zhishiku-01:before {
  content: "\e7cc";
}

.icon-zhanghaoshezhi-01:before {
  content: "\e7cb";
}

.icon-a-shimingrenzheng1-01:before {
  content: "\e7ce";
}

.icon-shouquanguanli-01:before {
  content: "\e7cd";
}

.icon-a-APIKey-01:before {
  content: "\e7d1";
}

.icon-sushuaixianzhi-01:before {
  content: "\e7d0";
}

.icon-yonghuquanyi-01:before {
  content: "\e7cf";
}

.icon-neironganquanguanli-01:before {
  content: "\e7d5";
}

.icon-rizhimiyueguanli-01:before {
  content: "\e7d4";
}

.icon-IPbaimingdanguanli-01:before {
  content: "\e7d3";
}

.icon-gongdanjilu-01:before {
  content: "\e7d2";
}

.icon-ziyuanbaoshangdian-01:before {
  content: "\e7d6";
}

.icon-quqianggou-kuozhan-01:before {
  content: "\e7bd";
}

.icon-yemianchazhao:before {
  content: "\e7b8";
}

.icon-xiangshangfanye:before {
  content: "\e7b9";
}

.icon-xiangxiafanye:before {
  content: "\e7ba";
}

.icon-zhihangpythonjiaoben:before {
  content: "\e7bc";
}

.icon-chazhaoxiayige:before {
  content: "\e7bb";
}

.icon-kaiqi-01:before {
  content: "\e7b4";
}

.icon-zidong-01:before {
  content: "\e7b3";
}

.icon-guanbi-01:before {
  content: "\e7b2";
}

.icon-huandengpian-01:before {
  content: "\e7b6";
}

.icon-huandengpianbofang-01:before {
  content: "\e7b5";
}

.icon-a-Full-screen-twoquanjufangda2-01:before {
  content: "\e7b1";
}

.icon-a-Off-screen-twoquanjusuoxiao2-01:before {
  content: "\e7b0";
}

.icon-a-functioncall-01:before {
  content: "\e7af";
}

.icon-setting-01:before {
  content: "\e7ac";
}

.icon-Earth-01:before {
  content: "\e7ad";
}

.icon-moxingbijiao-01:before {
  content: "\e7ae";
}

.icon-Awenbenmoxing-01:before {
  content: "\e60b";
}

.icon-Ashijuelijiemoxing-01:before {
  content: "\e617";
}

.icon-Atuxiangshengchengmoxing-01:before {
  content: "\e626";
}

.icon-Ashipinshengchengmoxing-01:before {
  content: "\e627";
}

.icon-Ayuyinmoxing-01:before {
  content: "\e628";
}

.icon-Agent-01:before {
  content: "\e629";
}

.icon-Ashishiyinshipin-01:before {
  content: "\e62b";
}

.icon-Amcp:before {
  content: "\e646";
}

.icon-Agent:before {
  content: "\e636";
}

.icon-tryNow:before {
  content: "\e7aa";
}

.icon-Picture-one:before {
  content: "\e7a9";
}

.icon-down-load:before {
  content: "\e7a8";
}

.icon-Upload:before {
  content: "\e7a7";
}

.icon-gongju:before {
  content: "\e62a";
}

.icon-zhengzaitiaoyongicon:before {
  content: "\e664";
}

.icon-tiaoyongshibaiicon:before {
  content: "\e7a5";
}

.icon-tiaoyongchenggongicon:before {
  content: "\e7a4";
}

.icon-star:before {
  content: "\e645";
}

.icon-a-VectorStroke:before {
  content: "\e638";
}

.icon-data-mgt:before {
  content: "\e62d";
}

.icon-a-pingcegongju:before {
  content: "\e637";
}

.icon-start-evaluation:before {
  content: "\e605";
}

.icon-start-distillation:before {
  content: "\e60";
}

.icon-task-abort:before {
  content: "\e991";
}

.icon-a-mcp4:before {
  content: "\e634";
}

.icon-a-iconxingxing1-013:before {
  content: "\e635";
}

.icon-distribution:before {
  content: "\e632";
}

.icon-add-one:before {
  content: "\e631";
}

.icon-data-delete:before {
  content: "\e620";
}

.icon-data-download:before {
  content: "\e621";
}

.icon-version-mgt:before {
  content: "\e622";
}

.icon-latest-version-delete:before {
  content: "\e625";
}

.icon-clear1:before {
  content: "\e7a3";
}

.icon-yishendusikao:before {
  content: "\e61e";
}

.icon-shenduzhong:before {
  content: "\e61f";
}

.icon-a-jiucuo1:before {
  content: "\e612";
}

.icon-auth-password-finish:before {
  content: "\e61b";
}

.icon-auth-verify-finished:before {
  content: "\e61c";
}

.icon-auth-wechat-finish:before {
  content: "\e61d";
}

.icon-auth-unbundle:before {
  content: "\e61a";
}

.icon-auth-modify:before {
  content: "\e618";
}

.icon-auth-wechat:before {
  content: "\e614";
}

.icon-auth-verify:before {
  content: "\e616";
}

.icon-auth-cancel-account:before {
  content: "\e615";
}

.icon-auth-password:before {
  content: "\e613";
}

.icon-a-iconxingxing2:before {
  content: "\e611";
}

.icon-a-iconxingxing1-012:before {
  content: "\e610";
}

.icon-app:before {
  content: "\e7a2";
}

.icon-point:before {
  content: "\e7a1";
}

.icon-newchat:before {
  content: "\e7a0";
}

.icon-return:before {
  content: "\e79e";
}

.icon-a-Link-onelianjie:before {
  content: "\e60f";
}

.icon-a-Picturetupian:before {
  content: "\e60e";
}

.icon-send1:before {
  content: "\e79f";
}

.icon-pk1:before {
  content: "\e79d";
}

.icon-history:before {
  content: "\e79c";
}

.icon-switch:before {
  content: "\e79b";
}

.icon-stop1:before {
  content: "\e79a";
}

.icon-prompt1:before {
  content: "\e799";
}

.icon-retry:before {
  content: "\e798";
}

.icon-pingce:before {
  content: "\e741";
}

.icon-finance_resource_details:before {
  content: "\e60a";
}

.icon-voiceplay:before {
  content: "\e793";
}

.icon-voicepause:before {
  content: "\e792";
}

.icon-more2:before {
  content: "\e790";
}

.icon-playspeed:before {
  content: "\e78f";
}

.icon-voicecall:before {
  content: "\e78e";
}

.icon-videocall:before {
  content: "\e78d";
}

.icon-share1:before {
  content: "\e78b";
}

.icon-video1:before {
  content: "\e78c";
}

.icon-sharecall:before {
  content: "\e78a";
}

.icon-play:before {
  content: "\e789";
}

.icon-disconnect:before {
  content: "\e787";
}

.icon-unfold:before {
  content: "\e788";
}

.icon-connect:before {
  content: "\e786";
}

.icon-stopplaying:before {
  content: "\e785";
}

.icon-voice1:before {
  content: "\e784";
}

.icon-attachment:before {
  content: "\e783";
}

.icon-command:before {
  content: "\e781";
}

.icon-collapse:before {
  content: "\e782";
}

.icon-weixin:before {
  content: "\e77c";
}

.icon-list_view:before {
  content: "\e729";
}

.icon-barchart:before {
  content: "\e780";
}

.icon-error1:before {
  content: "\e77f";
}

.icon-radar:before {
  content: "\e77e";
}

.icon-setting:before {
  content: "\e737";
}

.icon-analysis:before {
  content: "\e778";
}

.icon-refresh1:before {
  content: "\e777";
}

.icon-voice:before {
  content: "\e775";
}

.icon-audio:before {
  content: "\e774";
}

.icon-search_non:before {
  content: "\e772";
}

.icon-refresh11:before {
  content: "\e73c";
}

.icon-camera_closed:before {
  content: "\e764";
}

.icon-info1:before {
  content: "\e765";
}

.icon-download:before {
  content: "\e766";
}

.icon-microphone_closed:before {
  content: "\e767";
}

.icon-clear:before {
  content: "\e768";
}

.icon-copy:before {
  content: "\e769";
}

.icon-menu-record:before {
  content: "\e6a3";
}

.icon-project-manage:before {
  content: "\e6a4";
}

.icon-org-manage:before {
  content: "\e6a5";
}

.icon-menu-setting:before {
  content: "\e7ab";
}

.icon-menu-lock:before {
  content: "\e6a7";
}

.icon-menu-equity:before {
  content: "\e6a8";
}

.icon-sub-slash:before {
  content: "\e604";
}

.icon-quote:before {
  content: "\e6ac";
}

.icon-knowledge:before {
  content: "\e763";
}

.icon-image:before {
  content: "\e762";
}

.icon-Excel1:before {
  content: "\e75d";
}

.icon-URL:before {
  content: "\e761";
}

.icon-word1:before {
  content: "\e75c";
}

.icon-Text:before {
  content: "\e760";
}

.icon-CSV:before {
  content: "\e75e";
}

.icon-Markdown:before {
  content: "\e75f";
}

.icon-PDF:before {
  content: "\e75b";
}

.icon-PPT:before {
  content: "\e759";
}

.icon-video:before {
  content: "\e75a";
}

.icon-target:before {
  content: "\e736";
}

.icon-jiantouxie:before {
  content: "\e624";
}

.icon-wdxialajiantou-new-copy:before {
  content: "\e623";
}

.icon-a-KnowledgeLibrary:before {
  content: "\e758";
}

.icon-QA:before {
  content: "\e757";
}

.icon-contact_group:before {
  content: "\e756";
}

.icon-up_files:before {
  content: "\e754";
}

.icon-robot:before {
  content: "\e755";
}

.icon-contact_phone:before {
  content: "\e753";
}

.icon-a-gailan1:before {
  content: "\e752";
}

.icon-finance_all:before {
  content: "\e74f";
}

.icon-finance_recharge_details:before {
  content: "\e74e";
}

.icon-finance_recharge:before {
  content: "\e74d";
}

.icon-finance_record:before {
  content: "\e74c";
}

.icon-finance_order:before {
  content: "\e74b";
}

.icon-finance_resource:before {
  content: "\e748";
}

.icon-finance_bill:before {
  content: "\e749";
}

.icon-finance_cost:before {
  content: "\e74a";
}

.icon-console_qa:before {
  content: "\e750";
}

.icon-console_consult:before {
  content: "\e751";
}

.icon-zhishi:before {
  content: "\e746";
}

.icon-moxing:before {
  content: "\e747";
}

.icon-yingyong:before {
  content: "\e745";
}

.icon-tiyan:before {
  content: "\e743";
}

.icon-piliang:before {
  content: "\e742";
}

.icon-weitiao:before {
  content: "\e744";
}

.icon-language:before {
  content: "\e72a";
}

.icon-tel_phone:before {
  content: "\e72b";
}

.icon-arrow_right_big:before {
  content: "\e72c";
}

.icon-glm4_0520:before {
  content: "\e72d";
}

.icon-glm4_air:before {
  content: "\e72e";
}

.icon-glm4_flash:before {
  content: "\e72f";
}

.icon-glm_4v:before {
  content: "\e730";
}

.icon-cogview_3:before {
  content: "\e731";
}

.icon-cogvideo_3:before {
  content: "\e732";
}

.icon-arrow_link:before {
  content: "\e733";
}

.icon-arrow_scroll_r:before {
  content: "\e734";
}

.icon-arrow_scroll_l:before {
  content: "\e735";
}

.icon-success:before {
  content: "\e738";
}

.icon-error:before {
  content: "\e739";
}

.icon-menu_expand:before {
  content: "\e73a";
}

.icon-menu_phone:before {
  content: "\e73b";
}

.icon-user_default:before {
  content: "\e73d";
}

.icon-enterprise-star:before {
  content: "\e608";
}

.icon-bingo:before {
  content: "\e609";
}

.icon-kefu:before {
  content: "\e619";
}

.icon-liuzi:before {
  content: "\e73e";
}

.icon-diaoyan:before {
  content: "\e73f";
}

.icon-top:before {
  content: "\e740";
}

